.header {
  padding: 60px;
  text-align: center;
  background-image: url(https://cdn.mos.cms.futurecdn.net/25ztV9sz6qahJsM7uaC5QA.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 30px;
  margin: 0px;
  height: 450px;
  width: auto;
}  



body {
    text-align: center; 
    margin: 0px;
    font-family: comic sans ms;
}

h1, h3 {
    font-family: comic sans ms;
    font-size: xx-large;
    color: black;
}

.leo{
  font-family: comic sans ms;
  margin-left: 400px;
  margin-right: 400px;
  text-align: justify;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.btn-group button {
  margin: auto;
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}
